/* 
    Document   : style
    Created on : Jul 5, 2012
    Author     : Dario
    Description:
*/

html {
    width: 100%; 
    height: 100%;
    color: #000;
    font-size: 11pt;
    font-family: "Open Sans", sans-serif;
    text-align: left;
    background-repeat: no-repeat, repeat-y;
    background-image: url(darioschwab.logo.png), url(darioschwab.logo.bg.png);
    background-position-x: center, center;
    background-position-y: center, center;
}

@media (max-width: 800px) {
    html {
        background-position-y: 25%, 25%;
        -o-background-size: 75%;
        -webkit-background-size: 75%;
        -moz-background-size: 75%;
        background-size: 75%;
    }
}

@media (max-width: 268px) {
    html {
        background-position-y: 10%, 10%;
    }
}

a {
    font-weight: bold;
    color: #000;

}

.buttonlink {
    padding-left: : 8px;
    padding-right: 8px;
}

.firstinrow {
    padding-left: 0px;
}

.paragraph {
    margin-bottom: 15px;
}

.contentBox {
    position: absolute;
    bottom: 0;
    left: 5%;
    padding-bottom: 2%;
}

.avoidwrap {
	display: inline-block;
}