/* 
    Document   : layout
    Created on : Jul 5, 2012, 4:09:28 PM
    Author     : Dario
    Description:
*/

html {
    width: 100%; 
    height: 100%;
	min-height: 500px;
    background-position-x: center, center;
    background-position-y: center, center;
}

.contactBox {
	position: absolute;
	bottom: 0;
	left: 5%;
	padding-bottom: 2%;
}

.paragraph {
	margin-bottom: 15px;
}

@media (max-height: 800px) {
	html {
		background-position-y: 10%, top;
		-o-background-size: 75% auto;
		-webkit-background-size: 75% auto;
		-moz-background-size: 75% auto;
		background-size: 75% auto;
	}
}

@media (max-height: 500px) {
	.contactBox {
		width: 100%;
		height: 250px;
		top: 250px;
		bottom: initial;
		padding-bottom: initial;
	}
}